{% extends "layout.twig" %}

{% block content %}
    <div  id="cv_item_form" class='edit'>
        <div class='padderwide'>
            <p>
                Choose an item on the left to generate the appropriate CV. The <strong>My CV</strong> items create PDFs.
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </p>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
